<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <OpcUrl>opc.tcp://localhost:62548/Quickstarts/DataAccessServer</OpcUrl>
  <OpcUser>user</OpcUser>
  <OpcPassword>password</OpcPassword>
  <HistoryMeasurements MaxAge="0.03">
    <Measurement Name="Statpipe CO2" Tag="ns=2;s=1:AI1001?K" />
    <Measurement Name="Statpipe N2" Tag="ns=2;s=1:AI1001?J" />
    <Measurement Name="Statpipe CH4" Tag="ns=2;s=1:AI1001?A" />
    <Measurement Name="Statpipe C2H6" Tag="ns=2;s=1:AI1001?B" />
    <Measurement Name="Statpipe C3" Tag="ns=2;s=1:AI1001?C" />
    <Measurement Name="Statpipe iC4" Tag="ns=2;s=1:AI1001?D" />
    <Measurement Name="Statpipe nC4" Tag="ns=2;s=1:AI1001?E" />
    <Measurement Name="Statpipe iC5" Tag="ns=2;s=1:AI1001?F" />
    <Measurement Name="Statpipe nC5" Tag="ns=2;s=1:AI1001?G" />
    <Measurement Name="Åsgard CO2" Tag="ns=2;s=1:AI1002?K" />
    <Measurement Name="Åsgard N2" Tag="ns=2;s=1:AI1002?J" />
    <Measurement Name="Åsgard CH4" Tag="ns=2;s=1:AI1002?A" />
    <Measurement Name="Åsgard C2H6" Tag="ns=2;s=1:AI1002?B" />
    <Measurement Name="Åsgard C3" Tag="ns=2;s=1:AI1002?C" />
    <Measurement Name="Åsgard iC4" Tag="ns=2;s=1:AI1002?D" />
    <Measurement Name="Åsgard nC4" Tag="ns=2;s=1:AI1002?E" />
    <Measurement Name="Åsgard iC5" Tag="ns=2;s=1:AI1002?F" />
    <Measurement Name="Åsgard nC5" Tag="ns=2;s=1:AI1002?G" />
  </HistoryMeasurements>
</configuration>